out/
!**/src/main/**/out/
!**/src/test/**/out/



.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store

*.class

*.log


.idea/
*.iml

.project
.classpath
.settings/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode/

*.jar
*.war
*.ear
*.exe

Thumbs.db

*.db
*.bak
*.mdf
*.ldf

*.tmp
*.swp
*.swo

lib/sqljdbc*.jar
lib/sqlite-jdbc*.jar
lib/

